.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.navbar>img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #7b4397;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s;
}
.nav-connect:hover{
    transform: scale(1.08);
}