.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;

}
.services-title>h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.services-title h1 > span {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    transition: all .4s;
}
.service-container{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;

}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    width: 300px;
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #ee333f, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b1fa8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #ffff;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}
.services-format button{
    display: flex;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    background-color: #7b4397;
    width: 150px;
    height: 40px;
    color: wheat;
    font-size: 18px;
    border-radius: 30px;
}
.services-format button:hover{
    background-color: whitesmoke;
    color: black;
    transition: all .5s;
    cursor: pointer;
}
.services-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg,#3f0028,#582300);
    transform: scale(1.05);
    transition: all .5s;
    cursor: pointer;
}