.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 100px;
}
.hero > h1 {
  text-align: center;
  width: 60%;
  font-size: 72px;
  font-weight: 700;
}
.hero > h1 > span {
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero > p {
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  line-height: 40px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 1s;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 1s;
}
.hero-connect:hover{
  background: #7b4397;
  color: #fff;  
}
.hero-resume:hover{
  background: #7b4397;
  color: #fff;
}